html{
    background-color:rgb(195, 0, 84);
}
head{
    background-color: rgb(195, 0, 84);
}

h1{
    background-color: lightblue;
}
body{
    background-color: rgb(195, 0, 84);
}
 h3{
    background-color:lightblue;
}
 
h4{
    background-color: lightblue;
}
label{
    background
    -color: lightblue;
}